.root{
    -fx-background-image: url("map.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-background-color: gainsboro;

}


.button:hover{
    -fx-background-color:  transparent, rgba(0,0,0,.1), rgba(0,0,0,.1),  transparent;
}
.button:armed {
    -fx-background-color: transparent, rgba(0,0,0,.2), rgba(0,0,0,.2), transparent;
}

.button{
    -fx-font-size: 20px;
    -fx-cell-size: 500px;
    -fx-text-alignment: center;
    -fx-background-color: #AB4642;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 20;
    -fx-margin-top: 100px;
    -fx-margin-left: 80px;
    -fx-padding: 20px 20px 20px 20px;

}
show.button{
    -fx-background-color: #AB4642;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
    -fx-margin-top: 100px;
    -fx-margin-left: 80px;
    -fx-padding: 50px 30px 50px 80px;
}
.e2{
    -fx-background-color: #AB4642;
}