.viewarea-class {
    /*-fx-background-image: url("map.gif");
    -fx-background-repeat: no-repeat;*/
 }
.slider{
    -fx-fill-width: inherit;
}
/* for all buttons: */
.button {
    -fx-background-color: transparent, transparent, transparent, transparent;
}
.button:hover{
    -fx-background-color:  transparent, rgba(0,0,0,.1), rgba(0,0,0,.1), transparent;
}
.button:armed {
    -fx-background-color: transparent, rgba(0,0,0,.2), rgba(0,0,0,.2), transparent;
}

/* for all toggle-buttons: */
.toggle-button {
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-graphic: url("toggleof.png");
}
.toggle-button:hover{
    -fx-background-color:  transparent, rgba(0,0,0,.1), rgba(0,0,0,.1), transparent;
}

.toggle-button:armed {
    -fx-background-color: transparent, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2), transparent;
}

.toggle-button:selected {
   /* -fx-background-color: transparent, rgba(0, 0, 0, .2), transparent, transparent;*/
    -fx-graphic: url("toggleon.png");
}



/* for specific buttons: */
.forward-button-class {
    -fx-graphic: url("forward.png");
}
.backward-button-class {
    -fx-graphic: url("backward.png");
}
.reset-button-class {
    -fx-graphic: url("reset.png");
}


/* for all tree nodes: */
.tree-cell {
    -fx-indent: 19.5;
}

/* for specific tree nodes: */
#rawell-cell:filled {
    -fx-graphic: url("rawell.png");
}
#rawell-cell:empty {
    -fx-graphic: null;
}

#fusell-cell:filled {
    -fx-graphic: url("fusell.png");
}
#fusell-cell:empty {
    -fx-graphic: null;
}

#state-cell:filled {
    -fx-graphic: url("state.png");
}
#state-cell:empty {
    -fx-graphic: null;
}

#track-cell:filled {
    -fx-graphic: url("track.png");
}
#track-cell:empty {
    -fx-graphic: null;
}

#point-cell:filled {
    -fx-graphic: url("point.png");
}
#point-cell:empty {
    -fx-graphic: null;
}

#def-cell:filled {
    -fx-graphic: null;
}
#def-cell:empty {
    -fx-graphic: null;
}